.modal {
    align-items: center;
    display: none;
    z-index: 99;

    width: fit-content;
    
    background-color: white;
    border-radius: 10px;
    
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);


    border-style:solid;
    border-width:3px;
    border-color:gray;
}

.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.8s;
}

.input {
    width: min-content;
    height: 30px;
    margin: 10px;
}

.foot {
    justify-content: space-between;
    flex-direction: row;
}

.form {
    margin: 10px;
}

.btn-Add{
    margin: 5px;
}
.btn-Close{
    margin: 5px;
}