

/* 3D Button */
.Button {
  background-color: white;
  border: 0px;
  border-radius: 100px;
  box-shadow: none
}


.Button_SETTINGS {

  /* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 12px;
gap: 10px;

width: 44px;
height: 32px;

background: #ECECEC;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


}

.Button_CATEGORY {/* Frame 5 */

    /* Frame 8 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 12px;
gap: 10px;

width: 76px;
height: 32px;

background: #ECECEC;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


margin: 0px 8px 0px 0px;
  
}


/* 3D button colors */
.Button_CATEGORYSELECTED {


  box-sizing: border-box;
  
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;
  
  width: 63px;
  height: 32px;
  
  border: 1px solid #000000;
  border-radius: 100px;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  

  margin: 0px 8px 0px 0px;


}