.CategoryList{
    display: flex;
}

.category_list_wrapper {
    display: flex;
    width: 100vw;
    overflow-x : scroll;
    margin : 10px 18px 20px 18px;
}

.button_setting {
    background-color: white;
    border: 0px;
    box-shadow: none;
  }
  
  .icon_setting{
    width: 44px;
    height: 32px;
    background-color: white;
  }
  