html, body {
    margin: 0px;
    background-color: rgb(245,245,245);
    display: flex;
    justify-content: center;
    overflow: hidden;
    
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}