.SettingCategoryItem {
    /*
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gainsboro;
    margin: 5px;
    width : 90%;
*/
    /* Frame 19 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
padding: 14px 18px;
gap: 6px;

width: 339px;
height: 56px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

margin :5px 0px 5px 0px;
}

.btn_group {
    display: flex;
    justify-content: center;
    align-items: center;
    width :min-content
}

.name {
    font-size: 20px;
  
    display: flex;
    justify-content: left;
    align-items: center;
}

.update {
    width: 50px;
    height: 40px;
    margin : 5px;
    background-color: yellow;
}

.delete {
    width: 50px;
    height: 40px;
    margin : 5px;
    background-color: yellow;
}


.button_visible{
    background-color: white;
    border: 0px;
    box-shadow: none;
}

.icon_visible{
    width: 25px;
    height: 25px;
    background-color: white;
}
.icon_invisible{
    width: 25px;
    height: 25px;
    background-color: white;
}
