.SettingCategory {
    height: 100vh;
    margin: 18px;
}


.setting_category_list_wrapper_visible {
    height: fit-content;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    overflow-y: auto;
    -ms-overflow-style: none;  /*IE, Edge*/
    scrollbar-width: none; /*Firefox*/
}
.setting_category_list_wrapper_invisible {
    height:fit-content;
    display: flex;
    margin: 20px 0px 20px 0px;
    flex-direction: column;
    justify-content: center;

    overflow-y: auto;
    -ms-overflow-style: none;  /*IE, Edge*/
    scrollbar-width: none; /*Firefox*/
}

.icon_addCategory{
    width: 28px;
    height: 28px;
}
