
.SettingHeader {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  
}

.setting_title {
  font-size: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;

}

.button_back {
  position: absolute;
  left: 20px;

  margin-top: 12px;

  background-color: white;
  border: 0px;
  box-shadow: none;
}

.icon_back{
  width: 25px;
  height: 25px;
  background-color: white;
}

