.SettingCategoryItem {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gainsboro;
    margin: 5px;
    width : 90%;
}

.btn_group {
    display: flex;
    justify-content: center;
    align-items: center;
    width :min-content
}

.name {
    font-size: 20px;
  
    display: flex;
    justify-content: left;
    align-items: center;
}

.update {
    width: 50px;
    height: 40px;
    margin : 5px;
    background-color: yellow;
}

.delete {
    width: 50px;
    height: 40px;
    margin : 5px;
    background-color: yellow;
}

